// Author: Mike32
// Responsible for: Refining and implementing design

@import "rows";
@import "main-logo";

$bg: #151618;

html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.main-wrap {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.view {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  // display: none;
  
  background: $bg;
  // transition: transform 450ms cubic-bezier(.33,.21,.2,.95);
  transition: transform 450ms cubic-bezier(.14,.25,.03,.96);
  
  &.right-view,
  &.left-view {
    &.active-view {
      // display: block;
      transform: translate3d(0%, 0px, 0px);
    }
  }
  
  &.right-view {
    transform: translate3d(100%, 0px, 0px);
  }
  
  &.left-view {
    transform: translate3d(-100%, 0px, 0px);
  }
}

.centered-form {
  position: absolute;
  top: 0px;
  right: 20px;
  left: 20px;
  bottom: 0px;
  margin: auto;
  height: 150px;
  font-size: 0px;
}

.ci-button, .ci-input {
  height: 60px;
  padding: 0px 10px;
  box-sizing: border-box;
  margin: 0px 0px 10px 0px;
  width: 100%;
  
  background: #2D2E33;
  line-height: 40px;
  border: 0px;
  color: #CCCCCC;
  font-size: 16px;
  font-family: Arial;
  
  border-radius: 3px;
  outline: 0px !important;
}

.ci-disabled {
  opacity: 0.57;
  pointer-events: none;
}

.ci-button {
  text-transform: uppercase;
  text-align: center;
  background: #395180;
  font-weight: bold;
  
  cursor: pointer;
}

.ci-input {
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.ci-notify {
  position: absolute;
  bottom: 0px;
  right: 300%;
  // right: 0px;
  margin: 20px;
  padding: 10px;
  
  border-radius: 3px;
  background: #4264A6;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.35);
  transition: left 0ms linear 250ms, transform 250ms ease-out, opacity 250ms ease-out;
  transform: translate3d(0px, 10px, 0px);
  opacity: 0;
  
  &.ci-visible {
    transition: left 0ms linear 0ms, transform 250ms ease-out, opacity 250ms ease-out;
    transform: translate3d(0px, 5px, 0px);
    opacity: 1;
    right: 0%;
  }
  
  &.ci-notify-error {
    background: #A63119;
  }
}

// Map on downwards

.map-head {
  height: 60px;
  width: 100%;
  
  background: $bg;
  
  .view-open-options {
    display: inline-block;
    vertical-align: top;
    height: 60px;
    width: 60px;
    
    border: 0px;
    line-height: 60px;
    background: rgba(0, 0, 0, 0.25);
    color: #CCCCCC;
    font-size: 35px;
    text-align: center;
  }
  
  .logo-caption {
    display: inline-block;
    vertical-align: top;
    height: 60px;
    padding: 0px 10px;
    
    line-height: 60px;
    color: #99B3CC;
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
  }
}

.main-map {
  position: absolute;
  top: 60px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  
  background: #D9D9D9;
  
  > div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}

.view-back-button {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 0px;
  
  text-align: center;
  line-height: 60px;
  background: $bg;
  border: 0px;
  color: #CCCCCC;
  font-size: 25px;
  
  &.vbb-bottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 50;
    
    border-top-right-radius: 3px;
  }
  
  svg {
    position: absolute;
    left: 0px;
    top: 0px;
    
    transform: scale(0.75, 0.75);
    
    path {
      fill: #fff;
      stroke: none;
      opacity: 0.75;
    }
  }
}

.view-map {
  
}

.view-options {
  .view-back-button {
    position: absolute;
    right: 0px;
    top: 0px;
    transform: scale3d(-1, 1, 1);
  }
  
  .options-form {
    height: 350px;
    
    header {
      margin-bottom: 20px;
      
      text-align: center;
      color: #C2C7CC;
      font-family: "Open Sans", sans-serif;
      font-size: 35px;
    }
    
    .button-options {
      button {
        margin: 0px 0px 1px 0px;
        border-radius: 0px;
        background: #2D4166;
        
        &.button-toggle-active {
          background: #395180;
        }
        
        &:first-child {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
        
        &:last-child {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
    }
  }
}
